/**
* file: Project style break point file
* date: 2020-07-21
* author: Frank
* lastModify: Frank 2020-07-29
*/

// This file will contain all the break point in the project
// main break point for this project
$md: 768px;
// other break point for this project
$xl: 1199px;
$lg: 991px;
$xs_sm: 575px;
$pro: 834px;

//break point
$lg_1023: 1023px;
$md_767: 767px;
$sd_374: 374px;
$pc_1919: 1919px;
