//npm.pkg.github.com/:_authToken=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
registry=https://registry.npmmirror.com/
@possie-engine:registry=https://npm.pkg.github.com
@datareachable:registry=https://npm.pkg.github.com
